@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, h1, h2, h3, h4, h5, h6, a, p{
	font-family: 'Noto Sans KR', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
	color: #007bff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: black;
}

.main{
	padding: 8rem 15px;
	padding-bottom: 3rem;
	
}

.main h1 {
	font-size: 3.5rem;
	font-weight: bold;
}

.main strong{
	font-weight: bold;
}

.process, .curriculum, .project {
	padding: 3rem 15px;
}

.modal-title {
	font-weight: bold;
}

.modal-body h6 {
	font-weight: bold;
}

.card-title {
	font-weight: bold;
}